@model DrinksListViewModel

<div class="row marginTop">
    @foreach (var drink in Model.Drinks)
    {
        //Html.Partial("partial view name", model name)
        @Html.Partial("DrinksSummary", drink)
    }
</div>